@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bree+Serif&family=Dancing+Script:wght@400..700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.c:hover{
    color: red;
    cursor: pointer;
}
.vertical-text{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 117px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #e6dfc6;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 0;
}
.best-left-cap{
    color: #373b41;
    font-size: 20px;
    margin-bottom: 55px;
}
.best-collection-area .best-left-cap h2 {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 19px;
}
.best-collection-area .best-left-cap p {
    color: #373b41;
    font-size: 20px;
    margin-bottom: 55px;
}
.shop1-btn {
    box-shadow: 0px 20px 50px 0px rgba(37, 119, 253, 0.2);
}
.btn {
    background: #2577fd;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}
.best-collection-area .best-right-cap {
    float: right;
}
.best-collection-area .best-right-cap .best-single {
    display: flex;
    align-items: end;
}
.best-collection-area .best-right-cap .best-single .single-cap {
    text-align: right;
}
.best-collection-area .best-right-cap .best-single .single-img {
    padding-left: 25px;
}
.latest-subscribe button{
    padding: 20px 47px;
    background: #2577fd;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    right: 0;
    border: 0;
    cursor: pointer;
    top: 0;
    color: #fff;
    border-radius: 30px;
}
.shop-method-area .single-method i {
    font-size: 60px;
    color: #282828;
    margin-bottom: 25px;
    display: block;
}
.mb-40 {
    margin-bottom: 40px;
}

@media screen and (max-width:991px){
    .header{
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 10px;
        padding-bottom: 50px;
        text-align: center;
    }
    .header img{
        width: 100%;
    }
    .header h1{
        font-size: 4rem !important;
    }
    .cat{
        display: flex;
        gap: 20px;
    }
    .lat{
        display: flex;
        flex-wrap: wrap;
    }
    .lat-left{
        width: 100%;
        text-align: center;
    }
    .lat-right{
        width: 100%;
        justify-content: space-evenly;
    }
    .product-desc{
        display: flex;
        flex-direction: column;
        top:10%;
        gap: 20px;
    }
    .pro{
        flex-wrap: wrap;
    }
    .products{
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
    .products img{
        width: 100%;
    }
    .latest-section{
        margin: 0 !important;
    }
    .best-product-section{
        padding: 2rem !important;
        margin: 0 !important;
        text-align: center;
    }
    .best-product-section .box{
        padding:5rem 4rem !important;
        text-align: center;
        width: 100%;
    }
    .best-collection-area{
        padding-block: 80px !important;
    }
    .best-left-img{
        display: none !important;
    }
    .shop-method-area{
        padding-block: 100px !important;
    }
    .gallery-items{
        width: 46% !important;
    }
    .gal{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .latest .man{
        display: none;
    }
    .gallery-wrapper{
        margin-bottom: 50px !important;
    }
}
@media screen and (max-width:768px) {
    .gallery-items{
        width: 100% !important;
    }
    .gallery-items img{
        width: 100% !important;
    }
    .latest{
        text-align: center;
    }
    .single-method{
        text-align: center;
    }
    .lat-left{
        width: 100%;
        text-align: center;
    }
    .lat-right{
        width: 100%;
    }
    .latest-section{
        padding: 2rem !important;
    }
}
@media screen and (max-width:467px) {
    .disc p{
        line-height: 3rem;
    }
    .category-section{
        padding: 2.5rem !important;
    }
    .category-section h1{
        margin-bottom: 2rem !important;
        width: 100% !important;
    }
    .product-desc{
        top: 20% !important;
        right: 5px !important;
        width: 40%;
        font-size: 1rem !important;
        gap: 2px;
    }
    .product-desc p{
        font-size: 1.5rem !important;
    }
    .product-desc button{
        font-size: 2rem !important;
        width: 100% !important;
        padding: 0;
    }
    .lat-left{
        font-size: 2rem !important;
    }
    .lat-right{
        padding: 1.5rem !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .shirts{
        display: none !important;
    }
    .best-left-cap h2{
        font-size: 2rem !important;
    }
    .best-product-section .box{
        padding: 2rem !important;
    }
    .best-product-section h1{
        font-size: 2rem !important;
    }
    .best-collection-area{
        margin: 0px !important;
        padding: 40px !important;
        text-align: center;
    }
    .latest-caption p{
        margin-bottom: 20px !important;
    }
    .latest-caption h2{
        font-size: 2rem !important;
    }
    .latest-subscribe button{
        padding-inline: 20px !important;
    }
    .shop-method-area{
        padding: 30px !important;
    }
    .gallery-wrapper{
        padding: 30px !important;
    }
}